.Main{
    background-color: rgb(238, 247, 247);
}

.Heading{
    text-align: center;
    color: rgb(0, 0, 0);

}
.buttons{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.top_button{
    width: 10%;}

Button{
    height: 40px;
    width: 90%;
}

.analyze{
    width: 80%;
    margin-left: 10%;
    border-style: groove;
    background-color: white;
}

.SecondGraph{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.first_dropdown{
    width: 50%;
    margin-left: 25%;
    padding-top: 30px;
}

.bar_chart{
    width: 50%;
}

.pie_chart{
    width: 50%;
}


/* -------------------------Prediction styling */
.Prediction-section{
    width: 90%;
    margin-left: 5%;
}
.First_section_prediction{
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#table-editing-simple{
    margin-top: 1%;
    margin-left: 1%;
    width: 90%;
}
Img{
    width: 37%;
}
.Output_value{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 20px;
}

.Catboost_classifier{
    width: 50%;
}
#classifier{
    width: 100%;
}